html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.button{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    width:200px;
    color: rgb(255, 255, 255);
    font-size: 3vh;
    border: rgb(122, 0, 0);
    border-radius: 10px;
    background-color: rgb(122, 0, 0);
}

.input-box{
    height: 30px;
    width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 2.5vh;
    border-radius: 4px;
    border: 1px solid rgb(122, 0, 0);
}
.input-box:focus{
    outline: none;
    border: 1.5px solid rgb(122, 0, 0);
}